{% extends 'base.html' %}
{% block content %}
<div class="ml-10 mt-5 max-w-sm w-full bg-white p-8 rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex items-center gap-4 mb-5">
        <img class="w-10 h-10 rounded-full" src="profile_pic.png" alt="">
        <div class="font-medium dark:text-white">
            <div>
                {{ teacher.name }}
            </div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Teacher</div>
        </div>
    </div>


    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white mb-5">
        <h1>Ученики</h1>
     </div>
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">

    <li class="py-3 sm:py-4">
       <div class="flex items-center space-x-4 rtl:space-x-reverse">
          <div class="shrink-0">
             <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-2.jpg" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Michael Gough
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Student
             </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
             $67
          </div>
       </div>
    </li>
    
    <li class="py-3 sm:py-4">
       <div class="flex items-center space-x-4 rtl:space-x-reverse">
          <div class="shrink-0">
             <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Thomas Lean
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Student
             </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
             $2367
          </div>
       </div>
    </li>
    <li class="pt-3 pb-0 sm:pt-4">
       <div class="flex items-center space-x-4 rtl:space-x-reverse">
          <div class="shrink-0">
             <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg" alt="Neil image">
          </div>
          <div class="flex-1 min-w-0">
             <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Lana Byrd
             </p>
             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                Student
             </p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
             $367
          </div>
       </div>
    </li>
 </ul>
</div>
{% endblock %}
